*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  background: #FFF;
  padding: 20px;
  font-family: Helvetica;
}

.slider {
  color: #333;
  padding:0 0 30px;
}

.slide {
  font-size: 90px;
  width: 150px;
  padding:10px 0;
  margin:20px 15px;
  text-align: center;
  border: 1px solid #999;
}
.locked .slide { background: #FFFF7F; }
.slick-prev, .slick-next {
  position: absolute;
  bottom:0;
}
.slick-next { left:80px; }

@media (max-width: 480px) {
  .slide {
    pointer-events: none;
  }
}